* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5 {
    font-family: "Poppins", sans-serif
}

body {
    font-size: 16px;
}

img {
    width: 30vw;
}

.w3-half img {
    margin-bottom: -6px;
    margin-top: 16px;
    opacity: 0.8;
    cursor: pointer
}

.w3-half img:hover {
    opacity: 1
}

.flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
}

.flex-item-left {
    padding: 10px;
    flex: 50%;
}

.flex-item-right {
    padding: 10px;
    flex: 50%;
}


/* Responsive layout - makes a one column-layout instead of two-column layout */

@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }
}

@media only screen and (max-width: 992px) {
    .w3-main {
        margin-top: 60px;
    }
}